<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <%- include("inc/styles.ejs") %> 
</head>
<body>
    <div class="jumbotron">
        <h1>Home Page</h1>
        <p><%= content %></p>
        <a href="/">home</a>
        <a href="/about">about</a>
    </div>
</body>
</html>