<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crud System</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="jumbotron">
        <h4>Learn Nodejs / Expressjs / Mysql Tutorial</h4>
        <br>
        <p>By Building a <b>CRUD</b> System API</p>
        <br>
        <form class="form-group m-1 form-inline">
            <input type="text" name="username" class="inp m-1 form-control">
            
            <button type="submit" class="send btn btn-info m-1 ">
                Save Data
            </button>
        </form>
    </div>
    <div class="container">
        
        <table class="data table">
            <tr>
                <th>ID</th>
                <th>Name</th>
            </tr>
        </table>
        
    <br>
    <br>
    <br>
    <br>
    </div>

    <div class="modal-cont">
        <div class="container">
            <h4>Edit Content</h4>
            <input type="text" class="inp-edit form-control m-1">
            <button class="savebtn btn btn-primary m-1">Save Changes</button>
            <button class="cancelbtn btn btn-danger m-1">Cancel</button>
        </div>
    </div>
    <script src="js/index.js"></script>
</body>
</html>